/*
#cities_graph {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  height: 600px;
  width: 600px;
}
*/

.container {
  width: 890px;
}

#sections {
  position: relative;
  display: inline-block;
  width: 300px;
  top: 0px;
  padding-bottom: 150px;
}

#sections .title {
    font-family: "TiemposTextWeb-Regular","Georgia";
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #151515;
    padding-bottom: 5px;
}

.step {
  margin-bottom: 250px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 15px;
  line-height: 20px;
  color: #484848;
}

#vis {
  display: inline-block;
  position: fixed;
  margin-left:0px;

}


#tooltip {
  font-size: 12px;
  position: absolute;
  width: auto;
  height: auto;
  padding: 2.5px;
  border:1px solid black;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}
path.area{
  stroke-width:0.3;
  fill: #ffffbf;
  stroke: black;
}
path.area.highlight{
  fill:#78c679;
}
